<form ng-controller="SalasFiltersController as ctrl" layout-padding ng-submit="ctrl.aplicar()">

    <!-- pesquisar -->
    <md-input-container md-no-float class="md-block">
        <md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_search_24px.svg"></md-icon>
        <!-- <input ng-model="ctrl.filters.q" type="text" placeholder="Pesquisar" ng-change="ctrl.aplicar()" ng-model-options="{ debounce: 600 }"> -->
        <input ng-model="ctrl.filters.q" type="text" placeholder="Pesquisar">
    </md-input-container>
    <!-- fim pesquisar -->

    <div layout="column">
        <md-button class="md-raised" ng-click="ctrl.aplicar()" flex>aplicar <md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_done_24px.svg"></md-icon></md-button>
        <md-button class="md-raised" ng-click="ctrl.limpar()" flex>limpar <md-icon md-svg-src="bower_components/material-design-icons/content/svg/production/ic_clear_24px.svg"></md-icon></md-button>
    </div>
</form>
