<md-card>
    <md-toolbar class="md-primary md-hue-1">
        <div class="md-toolbar-tools">
            <span flex="100">{{ctrl.calendarTitle()}}</span>

            <md-button ng-click="ctrl.voltar()" class="md-icon-button" aria-label="Voltar">
                <md-icon md-svg-icon="bower_components/material-design-icons/hardware/svg/production/ic_keyboard_arrow_left_24px.svg"></md-icon>
            </md-button>
            <md-button ng-click="ctrl.hoje()" class="md-icon-button" aria-label="Ir para hoje">
                <md-icon md-svg-icon="bower_components/material-design-icons/toggle/svg/production/ic_radio_button_checked_24px.svg"></md-icon>
            </md-button>
            <md-button ng-click="ctrl.avancar()" class="md-icon-button" aria-label="Avancar">
                <md-icon md-svg-icon="bower_components/material-design-icons/hardware/svg/production/ic_keyboard_arrow_right_24px.svg"></md-icon>
            </md-button>

            <md-menu>
                <md-button class="md-icon-button" aria-label="Modo do calendário" ng-click="ctrl.openMenuCalendarMode($mdOpenMenu, $event)">
                    <md-icon md-svg-icon="bower_components/material-design-icons/action/svg/production/ic_today_24px.svg"></md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item ng-repeat="mode in ctrl.calendarModes">
                        <md-button ng-click="ctrl.setCalendarMode(mode.name)">
                          {{mode.title}}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

        </div>
    </md-toolbar>
    <md-card-content>
        <div ui-calendar="ctrl.calendarConfig" calendar="calendarioTurmas" class="span8 calendar" ng-model="ctrl.eventSources"></div>
    </md-card-content>
</md-card>
