<form ng-controller="TurmasFiltersController as ctrl" layout-padding ng-submit="ctrl.aplicar()">

    <!-- pesquisar -->
    <md-input-container md-no-float class="md-block">
        <md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_search_24px.svg"></md-icon>
        <!-- <input ng-model="ctrl.filters.q" type="text" placeholder="Pesquisar" ng-change="ctrl.aplicar()" ng-model-options="{ debounce: 600 }"> -->
        <input ng-model="ctrl.filters.q" type="text" placeholder="Pesquisar">
    </md-input-container>
    <!-- fim pesquisar -->

    <!-- tags -->
    <md-input-container md-no-float class="md-block">
      <md-chips ng-model="ctrl.filters.tags" md-transform-chip="ctrl.toPlainTag($chip)" md-autocomplete-snap  md-require-match="true">
        <md-autocomplete
          md-selected-item="ctrl.tagSelecionada"
          md-search-text="ctrl.tagSrchTerm"
          md-items="item in ctrl.queryTags(ctrl.tagSrchTerm)"
          md-item-text="item.nome"
          placeholder="+Etiqueta">
          <span md-highlight-text="tagSrchTerm">{{item.nome}}</span>
        </md-autocomplete>
        <md-chip-template>
          <img ng-if="$chip.imgUrl" class="tag-icon" ng-src="{{$chip.imgUrl | decodeUrl}}"><span>{{$chip.nome}}</span>
        </md-chip-template>
      </md-chips>
    </md-input-container>
    <!-- fim tags -->

    <!-- filtro:curso -->
    <md-select placeholder="Curso" ng-model="ctrl.filters.curso" ng-model-options="{trackBy: '$value.id'}" md-on-open="ctrl.loadCursos(ctrl.filters.tags)" ng-disabled="!ctrl.filters.tags || ctrl.filters.tags.length <= 0">
      <md-option ng-value="curso" ng-repeat="curso in ctrl.cursos">{{curso.nome}}</md-option>
    </md-select>
    <!-- fim filtro:curso -->

    <div layout="column">
        <md-button class="md-raised" ng-click="ctrl.aplicar()" flex>aplicar <md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_done_24px.svg"></md-icon></md-button>
        <md-button class="md-raised" ng-click="ctrl.limpar()" flex>limpar <md-icon md-svg-src="bower_components/material-design-icons/content/svg/production/ic_clear_24px.svg"></md-icon></md-button>
    </div>
</form>
